@model IEnumerable<PizzaStore.Interface.Models.Order>

@{
    ViewData["Title"] = "Shopping Cart";
}

<h2>Shopping Cart</h2>

<p>
    <a asp-action="Create">Add New Order</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Call">Place Orders</a>
</p>
